/* HTML and Body Styles */

html {
    background-color: rgb(214, 220, 220);
    font-family: sans-serif;
    font-size: 1em;
}

select#country_select{
    border-radius: 5px;
    width: 280px;
    height: 30px;
    font-size: 1em;
    background:url(arrow.png) 255px no-repeat;
    background-color: white;
    -webkit-appearance: none;
}

select#area_block{
    border-radius: 5px;
    width: 507px;
    height: 40px;
    font-size: 1em;
    background:url(arrow.png) 480px no-repeat;
    background-color: white;
    -webkit-appearance: none;
}

textarea {
    font-size: 1.5em;
    border-radius: 5px;
    width: 500px;
    height: 30px;
    background-color: rgb(211, 212, 224);
    margin-top: 4px;
}

textarea#pop_country {
    background-color: white;
}

textarea#pop_density {
    width: 350px;
}

fieldset {
    font-family: sans-serif;
    width: 400px;
    height: 80px;
    padding: 10px;
}

button{
    background-color: white;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-top: 15px;
}

h4 {
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: brown;
    margin-bottom: 3px;
}
h3 {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(76, 105, 181);
    margin-bottom: 3px;
}
/* Layout Styles */
body {
    background-color: rgb(244, 255, 219);
    border: groove;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 100%;
    height: 820px;
}

section#country {
    clear: left;
    float: left;
    width: 33%;
    margin-left: 20px;
}

section#information {
    float: right;
    width: 62%;
    margin-left: 10px;
}