@charset "utf-8";

/*
 Final Project: NSCC WEBD1000, 2017-Fall
 Author: Soohak KIM
 Date: 2017-12-8
 Filename: sub3_style.css (style for self_directed_study.html)
*/


body {
    background: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
}

img#sub3_center {
    display: block;
    float: left;
    width: 100%;
}

a {
    text-decoration: none;
}

a.nav-list:link, a.nav-list:visited {
    color: white;
}

li {
    font-size: 0.8em;
    line-height: 2;
    color: rgb(87, 101, 153);
}
h1 {
    font-size: 1.2em;
    color: rgb(167, 21, 30);
}
h2 {
    font-size: 1.1em;
    color: rgb(54, 66, 119);
}

h3 {
    font-size: 1.1em;
    color: rgb(54, 66, 119);
}

h4 {
    font-size: 1em;
    color: rgb(103, 65, 57);
}
p {
    font-size: 0.8em;
    line-height: 2.5;
    color: rgb(87, 101, 153);
}


/* Mobile Styles: 0 to 480px */
#container {
    width: 100%;
    margin: 0 auto;
}

#container section:nth-child(odd) {
    background: rgb(219, 212, 209);
}

header {
    width: 100%;
    height: 300px;
    margin: 0;
}
nav {
    height: 50px;
    background: black;
}
#main-nav {
    list-style: none;
    margin: 0;
    padding: 10px;
}
#main-nav li {
    display: inline-block;
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8em;
    margin: 5px 15px;
}

section {
    position: relative;
    width: 100%;
    padding: 15px 5% 10px 5%;
}

.page-title {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 30px 50px;
}

.page-title h1 {
    margin-bottom: 30px;
}

.content {
    margin: 80px auto 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    padding: 20px;
}

.content ol {
    margin-top: 20px;
}

footer {
    position: relative;
    width: 100%;
    height: 50px;
    background: black;
}

footer p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    line-height: 50px;
    color: white;
    text-align: center;
}

img#country {
    display: none;
}

/* Table Styles */
table.PersonaltPlan {
    border-collapse: collapse;
    border: 2px solid gray;
    font-size: 0.8em;
    width: 100%;
}
table.PersonaltPlan th {
    font-size: 0.8em;
    border: 2px solid gray;
    vertical-align: middle;
    width: 30px;
    padding: 10px;
}
table.PersonaltPlan td {
    border: 1px solid gray;
    vertical-align: middle;
    text-align: center;
    height: 20px;
}
table.PersonaltPlan tfoot {
    background: rgb(39, 49, 87);
    color:white;
    font-size: 0.8em;
}
table.PersonaltPlan thead {
    background: rgb(57, 95, 151);
    color:white;
    height: 20px;
}
table.PersonaltPlan tbody {
    background: rgb(168, 191, 114);
    font-size: 0.8em;
    color: rgb(167, 21, 30);
    width: 30px;
    text-align: center;
}

/* Tablet and Desktop Styles: 481px and greater */

@media only screen and (min-width: 481px)
{
    #container {
        width: 995px;
        margin: 0 auto;
        border: 1px solid grey;
        background: rgb(248, 244, 251);
    }

    img#country {
        display: block;
        float: left;
        width: 70%;
        margin-top: 10px;
    }

    header {
        height: 500px;
    }

    li {
        font-size: 1.2em;
        line-height: 2;
        color: rgb(87, 101, 153);
    }
    h1 {
        font-size: 1.8em;
        color: rgb(167, 21, 30);
    }
    h2 {
        font-size: 1.5em;
        color: rgb(54, 66, 119);
    }

    h3 {
        font-size: 1.2em;
        color: rgb(54, 66, 119);
    }

    h4 {
        font-size: 1em;
        color: rgb(103, 65, 57);
    }

    p {
        font-size: 1.2em;
        line-height: 2.5;
        color: rgb(87, 101, 153);
    }

    #short_term {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        clear: both;
        position: relative;
        width: 100%;
        height: 650px;
        padding: 15px 2% 10px 5%;
    }

    #long_term{
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        clear: both;
        position: relative;
        width: 100%;
        height: 780px;
        padding: 15px 2% 10px 5%;
    }

    .content {
        margin: 80px auto 10px;
        width: 100%;
        padding: 20px;
    }

    #text_short {
        float: left;
        width: 100%;
        margin-bottom: 5%;
    }

    #text_long{
        float: left;
        width: 100%;
        margin-bottom: 5%;
    }

    #short_term text, #long_term .text {
        float: left;
    }

    footer {
        clear: both;
    }

    /* Table Styles */
    table.PersonaltPlan {
        border-collapse: collapse;
        border: 2px solid gray;
        font-size: 1em;
        width: 100%;
    }
    table.PersonaltPlan th {
        border: 2px solid gray;
        vertical-align: middle;
        width: 30px;
        padding: 10px;
    }
    table.PersonaltPlan td {
        border: 1px solid gray;
        vertical-align: middle;
        text-align: center;
        height: 40px;
    }
    table.PersonaltPlan tfoot {
        background: rgb(39, 49, 87);
        color:white;
        font-size: 1em;
    }
    table.PersonaltPlan thead {
        background: rgb(57, 95, 151);
        color:white;
        height: 30px;
    }
    table.PersonaltPlan tbody {
        background: rgb(168, 191, 114);
        font-size: 1em;
        color: rgb(167, 21, 30);
        width: 70px;
        text-align: center;
    }
}